.presentation, .h1{
    font-style:italic;
   
}
.h1{
    font-weight: bold;
    text-align: left;
}

.textePresentation{
    font-size: larger;
    font-weight: bolder;
}

.presentation{
   
    padding-right: 100px;
}
.connexion{
   text-align: left;
}

.body {
    float: left;
    width: 50%;
}

.first{
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    padding-right: 5px;
    text-align: center;
    width: 33.33%;
    height: 250px;
    float: left; 
}

.mediums:after {
    display: table;
    clear: both;
}
